<table border='0' cellpadding='0' cellspacing='0' width="100%" class='banner'>
  <% if ENV['HORO_PROJECT_NAME'] %>
  <tr><td><%= ERB::Util.html_escape(ENV['HORO_PROJECT_NAME']) %> <%= ERB::Util.html_escape(ENV['HORO_PROJECT_VERSION']) %></td></tr>
  <% end %>
  <tr><td>
    <table width="100%" border='0' cellpadding='0' cellspacing='0'><tr>
      <td class="file-title" colspan="2"><span class="file-title-prefix">File</span><br /><%= file.base_name %></td>
      <td align="right">
        <table border='0' cellspacing="0" cellpadding="2">
          <tr>
            <td>Path:</td>
            <td><%= file.absolute_name %>
            </td>
          </tr>
          <tr>
            <td>Modified:</td>
            <td><%= file.last_modified %></td>
          </tr>
        </table>
      </td></tr>
    </table>
  </td></tr>
</table><br />
  <div id="bodyContent">
  <div id="content">
<% if file.description %>
  <div class="description"><%= file.description %></div>
<% end %>
  </div>
</div>
