<?xml version="1.0" encoding="<%= charset %>"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<%= charset %>" />
<title>Index</title>
<link rel="stylesheet" href="index-style.css" type="text/css" media="screen" />
<base target="docwin" />
</head>
<body>
<div class="banner"><%= list_title %></div>
<div class="entries">
<% files.sort_by { |x| x.name }.each do |entrie| %>
  <a href="<%= entrie.path %>">
    <%= entrie.name %>
    (<%= entrie.parent ? entrie.parent.full_name : 'unknown' %>)
  </a><br />
<% end %>
</div>
</body></html>
