<?xml version="1.0" encoding="<%= charset %>"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= klass.module? ? 'Module:' : 'Class:' %> <%= klass.full_name %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=<%= charset %>" />
    <link rel="stylesheet" href="<%= style_url %>" type="text/css" media="screen" />

    <script language="JavaScript" type="text/javascript">
    // <![CDATA[

        function toggleSource( id )
        {
          var elem
          var link

          if( document.getElementById )
          {
            elem = document.getElementById( id )
            link = document.getElementById( "l_" + id )
          }
          else if ( document.all )
          {
            elem = eval( "document.all." + id )
            link = eval( "document.all.l_" + id )
          }
          else
            return false;

          if( elem.style.display == "block" )
          {
            elem.style.display = "none"
            link.innerHTML = "show source"
          }
          else
          {
            elem.style.display = "block"
            link.innerHTML = "hide source"
          }
        }

        function openCode( url )
        {
          window.open( url, "SOURCE_CODE", "resizable=yes,scrollbars=yes,toolbar=no,status=no,height=480,width=750" ).focus();
        }
      // ]]>
    </script>
  </head>

  <body>
<table width="100%" border='0' cellpadding='0' cellspacing='0' class='banner'><tr>
  <td class="file-title"><span class="file-title-prefix"><%= klass.module? ? 'Module' : 'Class' %></span><br /><%= klass.full_name %></td>
  <td align="right">
    <table cellspacing="0" cellpadding="2">
      <tr valign="top">
        <td>In:</td>
        <td>
<% klass.in_files.each do |infile| %>
<%= link_to infile.absolute_name, infile.path %>:
<% end %>
        </td>
      </tr>
<% if klass.type == 'class' %>
      <tr>
        <td>Parent:</td>
        <td>

  <% if String === klass.superclass %>
    <%= klass.superclass %>
  <% else %>
    <%= link_to klass.aref_to klass.superclass.path, klass.superclass.full_name %>
  <% end %>
       </td>
     </tr>
<% end %>
         </table>
        </td>
        </tr>
      </table>
  <div id="bodyContent">
    #{METHOD_LIST}
  </div>
  </body>
</html>
